<%if @student != nil%>
    <table>
        <tr>
            <td>subject<td>
            <td>point<td>
            <td>grade<td>
            <td>edit</td>
            <td>delete</td>
        </tr>
    <%@student.score.each do |s|%>
        <tr>
            <td><%=s.subject%></td>
            <td><%=s.point%></td>
            <td><%=s.grade%></td>
            <td><%=link_to "edit", controller: "student_score" %>></td>
            
        </tr>
    <%end%>
<%else%>
    <p>this student_id is not found</p>
<%end%>